[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
[submodule "themes/gallerydeluxe"]
	path = themes/gallerydeluxe
	url = https://github.com/bep/gallerydeluxe.git
