{{ define "main" }}
<main>
    <article>
        <header class="mb-4 bg-primary-600">
            <h1 class="py-8 text-5xl font-black text-center text-white capitalize">
                {{ .Title }}
            </h1>
        </header>
        {{ with .Content }}
        <div class="px-6 mx-auto mt-6 prose dark:text-white max-w-none !max-w-7xl">
            {{- . -}}
        </div>
        {{ end }}
        {{ partial "posts-template.html" . }}
    </article>
    <div class="mx-auto my-16 max-w-4xl">
        {{ partial "pagination" . }}
    </div>
</main>
{{ end }}